:root {
  font-size: 100%;
  font-size: 14px;
  line-height: 1.5;
  --primary-color: #2ec4b6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  word-spacing: 4px;
  padding: 4px;
}
a:hover {
  text-decoration: underline;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left.copy {
  color: black;
  text-align: center;
  -webkit-font-something: antialiased;
  -moz-osx-font-something: grayscale;
}
.left.copy img {
  width: 77.35px;
  height: 100%;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px auto;
  margin-bottom: 40px;
}

.right .container {
  width: 328;
}
.container {
  width: 100%;
  max-width: 650px;
  background: #ffffff;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: 0px 4px 50px rgba(3.59, 8.13, 19.13, 0.1);
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}
.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label,
span {
  width: 95%;
  color: #011c34;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input,
select {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.activity select {
  display: block;
  width: 210%;
  margin-top: 10px;
  height: 40px;
  border-radius: 7px;
  padding: 10px;
  outline: none;
  color: grey;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  color: gray;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

.user-password {
  width: 100%;
  padding-bottom: 20px;
  color: #011c34;
  font-weight: 400;
}

input[type="password"]{
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: 7px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.user-password.password  {
  position: relative;
}

.user-password.password i {
  position: absolute;
  top: 42px;
  right: 16px;
}

.user-input-box label {
  font-size: 14px;
}



.user-input-box {
  position: relative;
}

.user-input-box  i {
  position: absolute;
  top: 42px;
  right: 16px;
}

.form-submit-btn {
  margin-top: 40px;
}

.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: 7px;
  border-radius: 5px;
  color: white;
  background: var(--primary-color);
}

.form-submit-btn input:hover {
  background: rgba(63, 114, 76, 0.9);
  color: rgb(255, 255, 255);
}

.small span {
  text-align: center;
}



@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }

  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
  .left {
    padding: 50px;
  }

  
  
}
@media screen and (max-width: 700px) {

  .container {
    min-width: 280px;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }
  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }
  .user-input-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main-user-info {
    max-height: 380px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }

  .user-password{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  

}
/* 

 */
